#root {
    display: block;

    -fx-background-color: #f0f0f0;
}

.label-error{
    -fx-text-fill: #b61900;
    -fx-font-family: Sahel;
    -fx-font-size: 14;
    -fx-padding: 5px 20px 5px 20px;
}
.label-succeeds{
     -fx-text-fill: #6BB602;
     -fx-font-family: Sahel;
    -fx-font-size: 14;
    -fx-padding: 5px 20px 5px 20px;
}
.label{
    -fx-font-family: Sahel;
    -fx-font-size: 14;
    -fx-padding: 5px 20px 5px 20px;
}
.label-medium-error{
    -fx-text-fill: #b61900;
    -fx-font-family: Sahel;
    -fx-font-size: 18;
    -fx-padding: 5px 20px 5px 20px;
}
.label-medium{
    -fx-font-family: Sahel;
    -fx-font-size: 18;
    -fx-padding: 5px 20px 5px 20px;
}
.label-medium-succeeds{
    -fx-text-fill: #6BB602;
    -fx-font-family: Sahel;
    -fx-font-size: 18;
    -fx-padding: 5px 20px 5px 20px;
}
.label-large{
    -fx-font-family: Sahel;
    -fx-font-size: 24;
    -fx-padding: 5px 20px 5px 20px;
}
.label-under-icon{
    -fx-font-family: Sahel;
    -fx-font-size: 12px;
    -fx-padding: 2px 20px 5px 20px;
}
.card-view {
    display: block;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 1), 10, 0, 0, 0);
    -fx-background-radius: 5px;

}

.nav-bar{
    display: block;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 1), 10, 0, 0, 0);
}
#app-menu{
    -fx-background-color: rgba(228, 229, 233, 0);
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
}
#toggle-button{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 5px;

}#toggle-button:hover{
     -fx-background-color: #f0f0f0;
    -fx-border-color:transparent;
    -fx-background-radius: 5px;
}
#toggle-button:selected{
    -fx-background-color: #f0f0f0;
    -fx-border-color:transparent;
    -fx-background-radius: 5px;

}
#toggle-button-indicator{
    -fx-background-color: #176DA7;
    -fx-border-color:transparent;
    -fx-background-radius: 0px 20px 20px 0px ;
}
#icon-only-button{
    -fx-border-color:transparent;
    -fx-background-color:transparent;
}
#button-menu-items{
    -fx-text-fill:#176DA7;
    -fx-background-radius: 0px;
    -fx-font-family: Sahel;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-font-size: 14px;
    -fx-background-color: transparent, transparent, transparent, transparent;
}
.form-header{
    -fx-background-color:#80D903 ;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 1), 10, 0, 0, 0);
    -fx-background-radius: 0px;
}
.root-forms{
    -fx-background-color: #FFFFFF;
}
.table-view {
    -fx-font-family: Sahel;
    -fx-font-size: 14px;
    -fx-table-color: #176DA7;
    -fx-table-rippler-color: #51b5d3;
    -fx-border-color: transparent;
}
.table-view:focused {
    -fx-background-color: -fx-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-border-color: transparent;
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;

}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-text-fill: #101e24;
    -fx-padding: 10 0 10 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
    -fx-border-color: transparent;

}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 8 0 8 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}


.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-row-cell:hover {
    -fx-text-fill: #0d101c;
    -fx-background-color: #51B5D3;
}
.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.table-row-cell:grouped {
    -fx-background-color: rgb(81, 181, 211);
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}
.table-view:row-selection{
    -fx-background-color : -gray;
}

.table-view:row-selection>*.column-header-background{
    -fx-background-color : -white;
}

.table-view>*.column-resize-line{
    -fx-background-color : -black;
}

.table-view>*.column-header-background>*.nested-column-header>*.table-column{
    -fx-background-color : -darkGray, -white;
}

.table-view>*.column-header-background>*.filler{
    -fx-background-color : -darkGray, -gray;
}

.table-view>*.column-header-background>*.show-hide-columns-button{
    -fx-background-color : -gray;
}


.tree-table-view:row-selection{
    -fx-background-color : -gray;
}

.tree-table-view:row-selection>*.column-header-background{
    -fx-background-color : -white;
}

.tree-table-view>*.column-resize-line{
    -fx-background-color : -black;
}

.tree-table-view>*.column-header-background>*.nested-column-header>*.table-column{
    -fx-background-color : -darkGray, -white;
}

.tree-table-view>*.column-header-background>*.filler{
    -fx-background-color : -darkGray, -gray;
}

.tree-table-view>*.column-header-background>*.show-hide-columns-button{
    -fx-background-color : -gray;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#FFFFFF;
    -fx-border-color :#F0F0F0;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#FFFFFF;
    -fx-border-color :#F0F0F0;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#FFFFFF;
    -fx-border-color :#F0F0F0;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#176DA7,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#176DA7,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.hbox .vbox {
    -fx-background-color: #ffffff;
}

.vbox {
    -fx-background-color: #ffffff;
}
.image {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 1), 10, 0, 0, 0);
    -fx-background-radius:15;
}

.profile-image {
    -fx-border-radius: 50;
    -fx-effect: dropshadow(three-pass-box, rgba(32, 32, 32, 0.49), 10, 0, 0, 0);
}
.text-box{
    -fx-start-margin: 20px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(181, 181, 181, 0.5), 10, 0, 0, 0);
}
.text-field
{
    -fx-focus-color: transparent;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-family: Sahel;
    -fx-border-color: #ffffff;
    -fx-font-size: 14;
    -fx-background-color: transparent, transparent, transparent, #dcdde1;
    -fx-padding: 5px 20px 5px 20px;
}
.text-field-error
{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-family: Sahel;
    -fx-border-color: #ffffff;
    -fx-font-size: 14;
    -fx-background-color: transparent, transparent, transparent, #ff947d;
    -fx-padding: 5px 20px 5px 20px;
}
.text-field:hover
{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-family: Sahel;
    -fx-border-color: #e9eaee;
    -fx-font-size: 14;
    -fx-background-color: transparent, transparent, transparent, #e6e7eb;
    -fx-padding: 5px 20px 5px 20px;
}


.text-field:focused
{
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-family: Sahel;
    -fx-border-color: #e9eaee;
    -fx-font-size: 14;
    -fx-background-color: transparent, transparent, transparent, #e9eaee;
    -fx-padding: 5px 20px 5px 20px;
}



.button
{
    -fx-text-fill:#176DA7;
    -fx-background-radius: 20px;
    -fx-font-family: Sahel;
    -fx-border-color: #176DA7;
    -fx-border-radius: 20px;
    -fx-font-size: 16px;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-padding: 5px 20px 5px 20px;
}
.button:default{

    -fx-text-fill:#ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Sahel;
    -fx-border-color: #176DA7;
    -fx-font-size: 16px;
    -fx-background-color: transparent, transparent, transparent, #176DA7;
    -fx-padding: 5px 20px 5px 20px;
}
.button:hover
{
    -fx-text-fill:#ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Sahel;
    -fx-border-color: #51b5d3;
    -fx-font-size: 16px;
    -fx-background-color: transparent, transparent, transparent, #51b5d3;
    -fx-padding: 5px 20px 5px 20px;
}
.button:pressed
{
    -fx-text-fill:#ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Sahel;
    -fx-border-color: #ffffff;
    -fx-font-size: 16px;
    -fx-background-color: transparent, transparent, transparent, #176DA7;
    -fx-padding: 5px 20px 5px 20px;
}
.button:focused{
    -fx-text-fill:#ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Sahel;
    -fx-border-color: #76D2E3;
    -fx-font-size: 16px;
    -fx-background-color: transparent, transparent, transparent, #76D2E3;
    -fx-padding: 5px 20px 5px 20px;
}

.hyperlink{
    -fx-background-color: transparent;
    -fx-text-fill: #6BB602;
    -fx-font-family: Sahel;
    -fx-font-size: 16px;
}
.hyperlink:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #80D903;
    -fx-font-family: Sahel;
    -fx-font-size: 16px;
}
.hyperlink:pressed{
    -fx-background-color: transparent;
    -fx-text-fill: #AAEA17;
    -fx-font-family: Sahel;
    -fx-font-size: 16px;
}
